
body{
  background-color: black;
  justify-content: center;
  align-items: center;
  min-height: 0vh;
  margin-top: 70px;
}
.section{
  color: blue;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: lightgray;
}
.section1{
  color: rgb(255, 255, 255);
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

/* The Modal (background) */
.modal1RL {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgb(255, 255, 255); /* Black w/ opacity */
  background-image: url(./rl.jpeg);
  
}
/* Modal Content/Box */
.modal-content1RL {
  background-color:  rgb(255, 255, 255, 0);
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border:none;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal2RL {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(255, 255, 255); 
  background-color: rgb(255, 255, 255);
  background-image: url(./rl2.jpeg);
  
}
.modal-content2RL {
  background-color:  rgb(255, 255, 255, 0);
  margin: 5% auto; 
  padding: 20px;
  border:none;
  width: 80%; 
}
.modal3RL {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(255, 255, 255); 
  background-color: rgb(255, 255, 255);
  background-image: url(./rl3.jpeg);
  
}
.modal-content3RL {
  background-color: rgb(255, 255, 255, 0);
  margin: 5% auto; 
  padding: 20px;
  border:none;
  width: 80%; 
}
.modal1R6 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(255, 255, 255); 
  background-color: rgb(255, 255, 255); 
  background-image: url(./r6.jpg);
  
}
.modal-content1R6 {
  background-color:  rgb(255, 255, 255, 0);
  margin: 15% auto; 
  padding: 20px;
  border:none;
  width: 80%; 
}
.modal2R6 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(255, 255, 255); 
  background-color: rgb(255, 255, 255); 
  background-image: url(./r62.jpg);
  
}
.modal-content2R6 {
  background-color:  rgb(255, 255, 255, 0);
  margin: 5% auto; 
  padding: 20px;
  border:none;
  width: 80%; 
}
.modal3R6 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(255, 255, 255); 
  background-color: rgb(255, 255, 255); 
  background-image: url(./r63.jpg);
  
}
.modal-content3R6 {
  background-color:  rgb(255, 255, 255, 0);
  margin: 15% auto; 
  padding: 20px;
  border:none;
  width: 80%; 
}

.yellow{
  background-color: rgb(255, 217, 45);
}
.footer{
  background-color: white;
  text-align: center;
  margin-left: 0px;

}
.button1{
  font-family: "Source Sans Pro",sans-serif;
  font-size: .85em;
  font-size: 14px;
  font-weight: 1200;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2.14px;
  text-decoration: none;
  line-height: 2em;

}





.rainbow1{
        animation: rainbow1 2.5s linear;
        animation-iteration-count: infinite;
}
.rainbow2{
        animation: rainbow2 2.5s linear;
        animation-iteration-count: infinite;
}

@keyframes rainbow1{
        0%{
          color: rgb(0,0,255);
            transform: rotate();
        }
        100%{
          color: rgb(0, 0, 0);
        }
}
@keyframes rainbow2{
  0%{
    color: rgb(0,0,255);
      transform: rotate();
  }
  100%{
    color: rgb(255, 217, 45);
  }
}